/* Reset de margens e paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f6f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

.container {
    background-color: #ffffff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 40px;
    max-width: 400px;
    width: 100%;
    text-align: center;
}

h1 {
    color: #3e4e59;
    margin-bottom: 20px;
    font-size: 24px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

label {
    font-size: 14px;
    font-weight: 600;
    color: #555;
    text-align: left;
}

input {
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    width: 100%;
}

input:focus {
    border-color: #4a90e2;
    box-shadow: 0 0 5px rgba(74, 144, 226, 0.5);
}

button {
    background-color: #4a90e2;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #357ab7;
}

button:active {
    background-color: #2a5b8d;
}

#message {
    margin-top: 20px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#message p {
    font-weight: 500;
}

#btnIrParaAcesso {
    background-color: #e84e56;
    margin-top: 10px;
    width: 100%; /* Adiciona essa linha para garantir que ocupe toda a largura disponível */
    max-width: 300px; /* Limita a largura do botão */
    margin-left: auto; /* Garante que o botão seja centralizado */
    margin-right: auto; /* Garante que o botão seja centralizado */
}

#btnIrParaAcesso:hover {
    background-color: #d03e47;
}

#btnIrParaAcesso:active {
    background-color: #b03a42;
}

p {
    margin-top: 15px;
    font-size: 14px;
    color: #666;
}

a {
    color: #4a90e2;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
.feedback-message {
    margin-top: 20px;
    padding: 10px;
    background-color: #f44336;
    color: white;
    text-align: center;
    border-radius: 5px;
    width: 100%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
}

.feedback-message.success {
    background-color: #4CAF50;
}

.feedback-message.error {
    background-color: #f44336;
}
